@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

/*****HEADER*****/
header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 50vh;
  background: url(../images/three-ladies-640x480.jpg) center center no-repeat;
  background-size: 100% 100%;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1rem 5vw 1rem 5vw;
}

.nav__nav-links-wrapper{
  margin-left: 5vw;
  display: flex;
  width: 25vw;
  align-items: center;
  font-size: 1.5rem;
}

.nav__nav-link{
  display: flex;
  margin-right: 5vw;
  color: #660066;
  text-decoration: none !important;
}

.nav__nav-right-wrapper{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.nav__nav-btn{
  color: white;
  background: linear-gradient(180deg, #660066, #660066 90%, #DA70D6);
  font-size: 1.5rem;
  padding: .6rem 1rem .6rem 1rem;
  margin-right: .5vw;
}
.nav__nav-search-wraper{
  display: flex;
  align-items: center;
}
.nav__nav-search-field{
  padding: .3rem .3rem .3rem 1rem;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 10vw;
}

.btn-circle {
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin-left: -10%;
  padding: .6rem 0;
  font-size: 1.3rem;
  line-height: 1.3;
  border-radius: 100%;
  background: linear-gradient(90deg, #660066, #660066 55%, #DA70D6);
  color: white;
}

.header__main-wrapper{
  display: flex;
  flex-flow: column;
  text-align: center;
  color: white;
  font-size: 10rem;
  text-shadow: 0 0 8px #660066, 0 0 8px #660066;
  margin-top: auto;
  padding-bottom: 6rem;
}
.header__main-wrapper h1{
}

/*****HEADER END*****/
/*****MAIN*****/
main{
  display: flex;
  flex-flow: column;
  width: 100%;
  border-top: 1px white solid;
}
.main__article-container{
  display: flex;
  flex-flow: column;
  padding: 3rem;
}
.main__article-container p{
  color: #C0C0C0;
  font-size: 2.7rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}
/*****MAIN END*****/
/*****FOOTER*****/
footer{
  background: #505050;
  align-items: center;
  text-align: center;
  width: 100%;
}
footer .container{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 6rem;
}
footer .social__container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem 0 4.5rem;
}
footer .social-wrapper {
  display: flex;
  flex-flow: row;
  max-width: 75%;
}
footer .social-circle {
    background-color:#505050;
    border:1px solid white;
    height:40px;
    width:40px;
    color: white;
    text-align: center;
    font-size: 3rem;
    line-height: 40px;
    margin: 0 0 0 2rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
footer .logo__p{
  color: #C0C0C0;
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 6rem;
}
footer .mission-statement{
  color: white;
  font-size: 1.5rem;
  padding: 4rem;
}
footer .utility-links{
  color: white;
  font-size: 2rem;
  border: none;
  background: none;
  outline: none;
  text-decoration: none !important;
}
/*****FOOTER END*****/
/*****MEDIAS*****/
@media (min-width: 858px) {

}

@media (min-width: 780px) {

}

@media (min-width: 724px) {

}

@media (min-width: 702px) {
}

@media (max-width: 623px) {
  .main__article-container{
    display: flex;
    flex-flow: column;
    height: 70vh;
  }
  .main__article-sub-divider{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 35vh;
    border-bottom: 1px grey solid;
  }

}
/*****MEADIAS END*****/
